.btn{
    padding: 20px 40px;
    font-size: 30px;
    font-weight: 900;
    background-color: green;
}

.btn__active{
    background-color: #000000;
    color: #FFFFFF;
}

.btn__active-2{
    background-color: #f0f;
    color: #FFFFFF;
}

.btn__active-2{
    background-color: #f0f;
    color: #FFFFFF;
} 